.App {
  text-align: center;
}

.name-form {
  text-align: center;
  margin-top: 16%;
}

.stats-form {
  text-align: center;
  margin-top: 4%;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
